# Ren'Py cache and save files
*.rpyb
*.rpyc
*.save
game/saves/*
game/cache/*
bytecode.rpyb
py3analysis.rpyb
screens.rpyb

# System files
.DS_Store
Thumbs.db

# Log files
log.txt
errors.txt
traceback.txt

# Temporary folders
tmp/
/current/renpy-8.3.7-sdk/lib
/current/renpy-8.3.7-sdk/module
/current/renpy-8.3.7-sdk/renpy/__pycache__
*.pyc
/current/renpy-8.3.7-sdk/vscode
